*.swp
.DS_Store
.netrwhist
.zshrc.tests
*.swo
*~
dump.rdb
~*
*.log
.vim
plugged
configstore/
keychain*
.vscode
tmp
.env
.envrc
__pycache__

# for Claude
Claude
.claude/settings.local.json

# for AI CLis
*mcp*.json
